# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
target/*
project/target/*
project/target/**
project/target/
project/target
project/project/
project/project/*
project/project/**
tests/target/
tests/sqlite/target/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/target/
client/node_modules/
server/target/
common/.jvm/target
common/.js/target
client/public/download/application/configurator/*.jar
