{
  "web":{
    "client_id":"<client id>",
    "project_id":"<project id>",
    "auth_uri":"<auth uri>",
    "token_uri":"<token uri>",
    "auth_provider_x509_cert_url":"<auth provider>",
    "client_secret":"<client secret>",
    "redirect_uris":["<redirect uris>"],
    "javascript_origins":["<js origins>"]
  }
}